<app-header [titulo] = "titulo || 'Bar & Range'"></app-header>

<ion-content>
  <ion-progress-bar [value] = "rango || .5" [type]="tipoBarra || 'indeterminate'" > 
  </ion-progress-bar>
  <ion-list>


    <ion-item>
      <ion-range (ionChange)="rangeChange( $event )" 
                   min="0" max ="100" pin="true" color="danger"
                  
      >
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-progress-bar reversed="true" color="success" 
      [value] = "rango2 || .5" [type]="tipoBarra2 || 'indeterminate'" [buffer]="buf || .15"> 
      </ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-range (ionChange)="rangeChange2( $event )" 
                   min="10" max ="100" pin="true" color="danger"
                   
                  
      >
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
