<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>buttons</ion-title>
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="clock"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button fill="clear" size="small" expand="full">Delgado</ion-button>
  <ion-button fill="outline" size="default" expand="full">Default</ion-button>
  <ion-button fill="solid" size="large" expand="full">Ancho</ion-button>

  <ion-back-button expand="full" color="danger" defaultHref="/inicio" text="Volver"></ion-back-button>

</ion-content>
