

<ion-content color="dark">

  <ion-tabs >

    <ion-tab-bar color="dark">
      <ion-tab-button (click)='set()'tab="Destacados" color="primary">
        <ion-icon name="md-globe" color="primary"></ion-icon>
        <ion-label color="primary">Destacados</ion-label>
      </ion-tab-button>
        
      <ion-tab-button (click)='set()' color="primary" tab='Categorias'>
        <ion-icon name="md-paper" color="primary"></ion-icon>
        <ion-label color="primary">Categorias</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)='get()' color="primary" tab='Favoritos'>
        <ion-icon name="heart"color="primary"></ion-icon>
        <ion-label color="primary">Favoritos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>  

  </ion-tabs>

</ion-content>
