<app-segment></app-segment>

<ion-content color="dark">

  <ion-tabs >

    <ion-tab-bar>
      <ion-tab-button tab="Compartir">
        <ion-icon name="share"></ion-icon>
        <ion-label>Compartir</ion-label>
      </ion-tab-button>
        
      <ion-tab-button >
        <ion-icon name="heart"></ion-icon>
        <ion-label>Me gusta</ion-label>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="folder-open">Guardar</ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="mail-open"></ion-icon>
        <ion-label>Abrir</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>
