<app-header [titulo] = "titulo || 'Infinite'"></app-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let di of data; let i = index">
      <ion-avatar slot="start">
        <ion-img src="/assets/lee.jpg"></ion-img>
      </ion-avatar>

      <ion-label>
        Número Seleccionado {{i+1}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="150px" 
                    (ionInfinite) = "onInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
