<ion-header>
  <ion-toolbar >
    <ion-title>slides</ion-title>
    <ion-avatar slot="end">
      <img src="/assets/slides/user-6.svg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides mode="ios" pager="true" class="slide-full">
    <ion-slide *ngFor ="let slide of sinfo | async">
      <ion-card>
        
        <img [src]="slide.img" class="slide-image">
        
        <ion-card-header >
          <ion-card-title>       
             {{slide.titulo}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-button expand="full" fill="clear" (click)="onClick()">
      Finalizar
    </ion-button>
    </ion-slide>
    


  </ion-slides>



</ion-content>
