
<ion-content pading>

  <ion-card>

    <ion-card-header>
      <ion-text>
      <h4>Modal Hijo</h4> 
      </ion-text>
    </ion-card-header>

    <ion-item>
      <ion-img src="/assets/shapes.svg"></ion-img>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Atque vitae, quae repellat eaque distinctio ducimus a non quam iusto,
        eius ipsa dicta repudiandae ipsum hic sed nihil accusantium 
        quibusdam id!
    </ion-card-content>

    <ion-button expand="full" (click)="cerrarModal()">
      Responder
    </ion-button>

  </ion-card>
    
</ion-content>
